{{!-- Handlebars.js will automatically this html content into the main.handlebars template --}}
<div> You are on the homepage (homepage.handlebars)</div>
   <ol class="post-list">
   {{#each posts as |post|}}
   <li>
       {{> post-info post }}
      {{!-- <article class="post">
         <div class="title">
         <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
         <span>({{post.post_url}})</span>
         </div>
         <div class="meta">
         {{post.vote_count}} vote(s) by {{post.user.username}} on
         {{post.created_at}}
         |
         <a href="/post/{{id}}">{{post.comments.length}} comment(s)</a>
         </div>
      </article> --}}
   </li>
   {{/each}}
   {{!-- <ol class="post-list">
   {{#each posts}}
   <li>
      <article class="post">
         <div class="title">
         <a href="{{post_url}}" target="_blank">{{title}}</a>
         <span>({{post_url}})</span>
         </div>
         <div class="meta">
         {{vote_count}} vote(s) by {{user.username}} on
         {{created_at}}
         |
         <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
         </div>
      </article>
   </li>
   {{/each}} --}}
   </ol>
